<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/>
        Simple file output -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info.log</file>
        <encoder>
            <pattern> [ %-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily 配置日志所生成的目录以及生成文件名的规则 -->
            <fileNamePattern>${LOG_PATH}/info-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <MaxHistory>180</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger{100}[%line] - %msg%n</pattern>
        </encoder>

    </appender>

    <!-- 测试环境+开发环境 -->

    <logger name="com.gome" level="INFO" />
    <logger name="org.apache" level="WARN" />
    <logger name="com.alibaba" level="WARN" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.test" level="INFO" />
    <logger name="org.springframework.boot" level="WARN" />
    <logger name="org.springframework" level="INFO" />
    <logger name="jdbc" level="WARN" />
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="org.mybatis" level="WARN" />
    <logger name="org.spring.jdbc" level="WARN" />

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>