<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar-scroll">
    <div class="logo">
        <a href="#"><img src="/static/images/logo_icon.png" alt="">后台管理</a>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <div class="sidebar-scroll">
                <div class="logo">
                    <a href=""><img src="/static/images/logo_icon.png" alt="">后台管理</a>
                </div>
                <ul class="nav metismenu" id="side-menu">
                    <li id="home" class="active"><a th:href="@{/home}"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a></li>
                    <li id="001" style="display: none"><a th:href="@{/transact/pager}"><i class="fa fa-table"></i> <span class="nav-label">(CEO/董事长)督办表</span></a></li>
                    <li id="002" style="display: none"><a th:href="@{/birthday/list}"><i class="fa fa-calendar-o"></i> <span class="nav-label">生日提醒</span></a></li>
                    <li id="003" style="display: none"><a href="#"><i class="fa fa-gift"></i> <span class="nav-label">库存管理 </span></a></li>
                    <li id="004" style="display: none"><a href="#"><i class="fa fa-minus"></i> <span class="nav-label">台账支出管理 </span></a></li>
                    <li id="005" style="display: none"><a href="#"><i class="fa fa-plus"></i> <span class="nav-label">台账收入管理管理</span></a></li>
                    <li id="006" style="display: none"><a href="#"><i class="fa fa-jpy"></i> <span class="nav-label">费用报销管理 </span></a></li>

                    <li id="007" style="display: none"><a href=""><i class="fa fa-gear"></i> <span class="nav-label">系统设置</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href=""><i class="fa fa-user"></i>用户管理</a></li>
                            <li><a href=""><i class="fa fa-pencil"></i>权限管理</a></li>
                            <li><a href=""><i class="fa fa-newspaper-o"></i>系统日志</a></li>
                            <li><a href=""><i class="fa fa-key"></i>修改密码</a></li>
                            <li><a href=""><i class="fa fa-book"></i>数据字典</a></li>
                            <li><a href=""><i class="fa fa-file-o"></i>文档日志</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </ul>
</div>
</div>
</html>